.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
}

.grid-item.full-width {
    grid-column: span 2; // ocupa as duas colunas
}

.grid-item.half-width {
    grid-column: span 1; // ocupa as duas colunas
}

.canvas-grid {
    display: grid;
    gap: 8px; // opcional
    max-width: 100%;
    box-sizing: border-box;
}

canvas {
    width: 100%; // cada item ocupa 100% da "fração" que o grid define
    height: auto;
    display: block;
}

button {
    width: 100%;
}

.image-preview {
    margin-top: .5rem;
    display: grid;
    max-width: 100%;
}

.margin-top {
    margin-top: .5rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}

.center {
    justify-content: center;
    display: flex;
}