<div class="grid-container margin-bottom">
    <div class="grid-item full-width">
        <h1 class="center">Divisor de imagens</h1>
    </div>
    <div class="grid-item full-width">
        <mat-card appearance="outlined">
            <mat-card-content>
                <button mat-flat-button (click)="fileUpload.click()">Escolher imagem</button>
                <img [src]="imagePreview" class="image-preview" *ngIf="imagePreview" />
                <mat-card-footer *ngIf="imagePreview" class="center">Imagem original</mat-card-footer>
            </mat-card-content>
        </mat-card>
    </div>

    <div *ngIf="image" class="grid-item full-width">
        <mat-card appearance="outlined">
            <mat-card-content>
                <mat-card-title class="center">Informe o tamanho</mat-card-title>
                <form [formGroup]="form" class="grid-container">
                    <mat-form-field class="grid-item half-width">
                        <mat-label>Linhas</mat-label>
                        <mat-select formControlName="numRows">
                            <mat-option value="2">2</mat-option>
                            <mat-option value="3">3</mat-option>
                            <mat-option value="4">4</mat-option>
                            <mat-option value="5">5</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="grid-item half-width">
                        <mat-label>Colunas</mat-label>
                        <mat-select formControlName="numCols">
                            <mat-option value="2">2</mat-option>
                            <mat-option value="3">3</mat-option>
                            <mat-option value="4">4</mat-option>
                            <mat-option value="5">5</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
                <div class="canvas-grid" [ngStyle]="{'grid-template-columns': 'repeat(' + numCols + ', 1fr)'}">
                    <canvas *ngFor="let imagePart of imageParts" [attr.width]="imagePart.width"
                        [attr.height]="imagePart.height" #canvas></canvas>
                </div>
                <button mat-flat-button (click)="exportToPDF()" class="margin-top">Salvar como PDF</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<footer style="text-align: center; font-size: 0.9em; margin-top: 2em;">
  <div>© 2025 Matheus Soares da Silva</div>
  <div>Licença: <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a></div>
</footer>

<input type="file" style="display: none;" (change)="onFileSelected($event)" #fileUpload accept="image/*" />